<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="256cf456-f029-4e75-a74e-321f2f818a9b"
    data-blockingmode="auto" type="text/javascript"></script>

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>